@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Base ------------------------------------------------------*/
/* Typography*/

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", serif;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;

  @media (min-width: 768px) {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;

  @media (min-width: 768px) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.button_slide {
  border: none;
  --tw-bg-opacity: 1;
  background-color: rgb(255 159 159 / var(--tw-bg-opacity));
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 20;
}

.button_slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.308);
  transition: left 0.3s ease;
  z-index: 10;
}

.button_slide:hover::before {
  left: 0;
}

.button_slide:hover {
  color: #ffffff; /* Change text color on hover */
}

/* .slide_right:hover {
  box-shadow: inset 400px 0 0 0 black;
} */
