@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Base ------------------------------------------------------*/
/* Typography*/

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", serif;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;

  @media (min-width: 768px) {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;

  @media (min-width: 768px) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.button_slide {
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ffffff;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button_slide:hover {
  box-shadow: inset 400px 0 0 0 #ffffff;
  color: rgb(255 159 159 / var(--tw-bg-opacity));
  outline-style: solid;
  outline-color: rgb(255 159 159 / var(--tw-bg-opacity));
}

.star-icon {
  fill: #ff9f9f;
}

.logo {
  width: 30%;

  left: 10px;

  @media (min-width: 500px) {
    width: 25%;
  }

  @media (min-width: 700px) {
    width: 20%;
  }

  @media (min-width: 900px) {
    width: 15%;
  }
}

.intro-nav svg {
  max-width: 100%;
  height: 100%;
}

.intro-nav:hover .star-icon path {
  fill: black; /* Change to your desired color */
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  height: auto;
  align-items: center;

  @media (min-width: 1000px) {
    width: 70%;
    margin: 0 auto;
  }
}

.logo-nav {
  padding: 0 1rem;
  margin: 0;
  width: 30%;

  @media (min-width: 500px) {
    width: 25%;
  }

  @media (min-width: 700px) {
    width: 20%;
  }

  @media (min-width: 900px) {
    width: 15%;
  }
}
.main-nav {
  margin-right: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    /* // margin-top: 10px; */
    gap: 1.5rem;
    align-items: center;
  }
  li {
    padding: 0 1rem;
  }

  @media (max-width: 700px) {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
      gap: 1rem;
      align-items: center;
      li {
        img {
          height: 65px;
          max-width: 65px;
          width: auto;
        }
      }
    }
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #ff9f9f;
  border: 2px solid;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -40px;
  z-index: 1000;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}

.footer-padding {
  padding-bottom: 85px;
}
